.header {
  background-color: black;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 100;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.header__search {
  flex: 1;
  display: flex;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineBasket {
  display: flex;
  align-items: center;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__link {
  color: whitesmoke;
  text-decoration: none;
}

.header__searchIcon {
  background-color: #cd9842;
  padding: 5px;
  height: 22px !important;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}
